@keyframes joinUp  {
    0%{
        transform: translateY(-900px);
        display: flex;

    }
    100%{
        transform: translateY(0);
    }
}

.animation__join-up{
    animation: joinUp 1s .6s ease-in-out forwards;
}